.inner-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-flex p {
    font-family: 'Archivo',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    color: #272727;
}