.add_hPlan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.add_hPlan button {
  border: 2px solid rgba(115, 115, 115, 1);
  border-radius: 5px;
  color: rgba(115, 115, 115, 1);
  font-size: 20px;
  font-weight: 400;
  background: #f5f5f5;
  padding: 14px 20px;
  cursor: pointer;
}

.eventFor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 325px;
  width: 100%;
}
.eventFor h3 {
  font-size: 25px;
  font-weight: 500;
}
.eventfor_holiday {
  display: flex;
  align-items: center;
}

.eventfor_holiday label {
  padding: 0 10px;
}
.eventfor_holiday input[type="checkbox"] {
  zoom: 1.5;
}

.eventfor_holiday input[type="checkbox"] :hover {
  background-color: rgba(0, 196, 249, 1) rgba(0, 131, 220, 1);
  color: white;
}

/* &&&&&&&&&&&&&      selectHoliday      &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  */

.selectHoliday {
  max-width: 1200px;
  margin: 35px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 55px;
}

.dropeDown_holiday input{
  
}

.selectHoliday_list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.dropeDown_holiday {
  width: 500px;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.selectHoliday_btn {
  text-align: right;
  padding-top: 50px;
}
.selectHoliday_btn .h-selet_button {
  padding: 15px 35px;
  color: white;
  background: linear-gradient(93.69deg, #00c5f9 2.23%, #0083dc 96.2%);
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

/* &&&&&&&&&&&&&      holiday table    &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&   */

.info {
  max-width: 363px;
  width: 100%;
}

.des {
  max-width: 363px;
  width: 100%;
}

table,
th,
td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  padding: 30px;
  font-size: 15px;
}

.tab {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 55px 19px;
  margin: 50px auto;
}

.abc td {
  border-bottom: 1px solid white;
}

.edit button {
  border: none;
  background: none;
  cursor: pointer;
}

/* responsive    --------------------------  */

@media screen and (max-width: 1440px) {
  .dropeDown_holiday {
    width: 420px;
    font-size: 20px;
  }

  .selectHoliday_btn .h-selet_button {
    padding: 12px 30px;
  }
}

@media screen and (max-width: 1300px) {
  .add_hPlan button {
    font-size: 18px;
    padding: 13px;
  }

  .selectHoliday {
    padding: 45px;
  }

  table,
  th,
  td {
    font-size: 13px;
  }
}

@media screen and (max-width: 1260px) {
  .add_hPlan button {
    font-size: 15px;
    padding: 12px;
  }

  .dropeDown_holiday {
    width: 350px;
    font-size: 15px;
  }

  .selectHoliday_btn .h-selet_button {
    font-size: 15px;
  }
  .selectHoliday {
    padding: 40px;
  }
}

@media screen and (max-width: 1130px) {
  .eventFor h3 {
    font-size: 20px;
  }

  .eventFor {
    max-width: 300px;
    width: 100%;
  }

  .dropeDown_holiday {
    width: 280px;
    font-size: 15px;
  }
  .selectHoliday_btn {
    padding-top: 30px;
  }

  .selectHoliday_btn .h-selet_button {
    font-size: 13px;
  }
  .selectHoliday {
    padding: 40px;
  }

  table,
  th,
  td {
    font-size: 12px;
  }
}
