#modal_overlay {
    background: #F9F9F9;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    height: 100%;
    position: absolute;
    table-layout: fixed;
    top: 0;
    width: 100%;
}

.modal {
    margin: auto;
    padding: 40px 0;
    width: 100%;
    text-align: center;
}

.modal img {
    margin-bottom: 25px;
    width: 120px;
}

.login_modal {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.login_modal h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 23px 0;
    background: linear-gradient(91.75deg, #00C4F8 0%, #0084DC 100%);
    border-radius: 10px 10px 0px 0px;
    margin: 0;
}

.login_modal form {
    padding: 50px 38px;
}

.login_modal form input {
    border: 1px solid #737373;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    padding: 13px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #737373;
    outline: none;
    margin-bottom: 40px;
}

.loginbtn-part .loginbtn {
    width: 100%;
    height: 50px;
    padding: 15px;
    background: linear-gradient(91.02deg, #00C6F9 0%, #0083DC 100%);
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}