.topbar {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
}

.display-flex {
    display: flex;
    gap: 10px;
    align-items: center;
}

.rajanuj {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #272727;
    margin: 0px;
}

.principal {
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #28A7E8;
}

.admin {
    width: 100%;
    max-width: 60px;
    height: 60px;
    cursor: pointer;
}

.none {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.noti {
    margin-right: 50px;
    cursor: pointer;
}

.topbar i {
    background: linear-gradient(135deg, #00C4F9 0%, #0083DC 100%);
    border-radius: 0px 5px 5px 0px;
    color: #FFFFFF;
}

.search {
    background: linear-gradient(135deg, #00C4F9 0%, #0083DC 100%);
    border-radius: 0px 5px 5px 0px;
    width: 100%;
    max-width: 47px;
    height: 58px;
    padding: 0px;
    right: 0px;
    position: absolute;
    border: none;
    cursor: pointer;
    text-align: center;
}

.left-side {
    position: relative;
}

.left-side input {
    width: 350px;
    height: 58px;
    border: 1px solid #737373;
    border-radius: 5px;
    padding: 0px 22px;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #737373;
}

@media only screen and (max-width: 1199px) {
    .noti {
        margin-right: 0px;
        width: 100%;
        max-width: 27px;
    }

    .admin {
        max-width: 50px;
        height: 50px;
    }

    .rajanuj {
        font-size: 17px;
    }

    .none {
        gap: 5px;
    }

    .search {
        max-width: 43px;
        height: 47px;
        padding: 10px;
    }

    .left-side input {
        width: 300px;
        height: 48px;
    }

    .topbar {
        padding: 40px 70px;
    }
}